.page {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: auto;
  padding: 1em;
}
